<title>Objects in local Storage - JaveScript - decode</title>

<style media="screen">

</style>

<body>
	<h2 id="title">Objects in Local Storage - JavaScript - decode</h2>
</body>

<script type="text/javascript">
	let myObj = {
		name: "Domenic",
		age: 56
	};
	
	let myObj_serialized = JSON.stringify(myObj);
	<!-- console.log(myObj_serialized); -->
	
	localStorage.setItem("myObj", myObj_serialized);
	<!-- console.log(localStorage); -->
	
	let myObj_deserialized = JSON.parse(localStorage.getItem("hihi"));
	console.log(myObj_deserialized);
</script>