<html>

<head>
<!-- <meta http-equiv="refresh" content="60"/> -->
<title>Team</title>
</head>



<div class= 'member'>
  <img id = "member1" src="He_Dongquan.jpg">
</div>
<br>
Dongquan He
<br>
Email: dqhe.eic@aliyun.com
<br>
<div class= 'member'>
  <img id = "member2" src="He_Yuchen.JPG">
</div>
<br>
David He
<br>
Email: dyhe@ucsd.edu


<form name='backToWelcomePage' action='/'>         
          <button style='padding:2rem' type='submit' id = 'logbtn'>Back To Welcome Page</button>
</form>

</html>